<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.hajora.dndcommerce">
    android:versionCode="1"
    android:versionName="1.0" >
    tools:overrideLibrary="com.google.firebase.messaging"
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21"
        />
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
     />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hajora.dndcommerce.Education"
            android:label="@string/app_name">
        </activity>
        <activity android:name="com.hajora.dndcommerce.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hajora.dndcommerce.SingleItemViewEducation" />
        <activity android:name="com.hajora.dndcommerce.SingleItemViewNews" />
        <activity android:name="com.hajora.dndcommerce.Main" />
        <activity android:name="com.hajora.dndcommerce.Submit" />
        <activity android:name="com.hajora.dndcommerce.News" />
        <activity android:name="com.hajora.dndcommerce.Contact" />
        <activity android:name="com.hajora.dndcommerce.About" />
        <activity android:name="com.hajora.dndcommerce.AboutCompany" />
        <activity android:name="com.hajora.dndcommerce.AboutHistory" />
        <activity android:name="com.hajora.dndcommerce.AboutVision" />
        <activity android:name="com.hajora.dndcommerce.AboutPartners" />
        <activity android:name="com.hajora.dndcommerce.Ask"
            android:windowSoftInputMode="stateUnchanged" />
        <activity android:name=".Partner" />
    </application>
    <service
        android:name=".MyFirebaseMessagingService">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
    </service>
    <service
        android:name=".MyFirebaseInstanceIDService">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
    </service>
</manifest>
